# Dependencias y builds
node_modules/
dist/
build/
.next/
.nuxt/
.out/
.storybook-out/
.cache/
.parcel-cache
.tmp/
tmp/
temp/

# Cobertura / instrumentación
coverage/
*.lcov
.nyc_output
lib-cov
.grunt

# Logs / runtime
logs
*.log
pids
*.pid
*.seed
*.pid.lock

# Paquetes/bundles
*.tgz
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Gestores/compiladores
bower_components
jspm_packages/
.lock-wscript
.yarn-integrity

# TypeScript
*.tsbuildinfo

# Entorno / secretos
.env
.env.local
.env.*.local
.env.test
.env.production
.envrc

# Prisma / SQLite locales
prisma/dev.db
prisma/dev.db-journal
*.sqlite3
*.sqlite3-journal
*.lock-wal

# Subidas locales (no persistentes)
uploads/

# Historiales y REPL
.node_repl_history

# IDEs / editores
.vscode/
.idea/
*.sw?
*.swo
*~

# SO (macOS / Windows)
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
